*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main{
	height: 25vh;
	width: 12%;
	background: lightgray;
	margin-left: 320px;
}
h2{
	padding-top: 90px;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
}
h2 span{
	font-size: 32px;
	margin-left: 80px;
}
.line{
	width: 70%;
	border: 1px solid gray;
	margin-top: 20px;
	margin-left: 30px;
}
.row{
	height: 55vh;
	width: 100%;
	display: inline-flex;
}
.col-md-3{
	height: 55vh;
	width: 20%;
}
h1{
	margin-top: 60px;
	margin-left: 163px;
	font-size: 220px;
	color: red;
	font-family: sans-serif;
}
h3{
	margin-top: 60px;
	font-size: 220px;
	color: brown;
	font-family: sans-serif;
}
#name{
	height: 55vh;
	width: 20%;
}
#bar{
	height: 55vh;
	width: 30%;
}
h4{
	font-size: 30px;
	margin-top: 60px;
	margin-left: 50px;
}
.para{
	margin-left: 50px;
}
p{
	margin-top: 120px;
	margin-left: 60px;
}
#row{
	height: 16vh;
	width: 100%;
	display: inline-flex;
}
.col-lg-3{
	height: 16vh;
	width: 5%;
	background: lightgray;
}
button{
	border: none;
	margin-top: 35px;
	margin-left: 28px;
	border-radius: 60%;
	background: black;
	width: 67%;
	height: 25%;
	color: #fff;
	font-size: 19px;
}
#long{
	height: 16vh;
	width: 12%;
	background: gray;
}
.input input{
	margin-left: 10px;
	margin-top: 10px;
}
#last{
	height: 16vh;
	width: 20%;
} 
.fast img{
	height: 16vh;
	width: 70%;
}
#foot{
	height: 16vh;
	width: 63%;
	background: lightgray;
	opacity: 0.6;
}




@media(max-width: 700px){
.main{
	width: 25%;
	margin-left: 120px;
}
h2{
	margin-left: 10px;
}
h2 span{
	margin-left: 40px;
}
h1{
	font-size: 120px;
	margin-left: 14px;
}
h3{
	font-size: 120px;
}
h4{
	margin-left: 20px;
}
.para{
	margin-left: 20px;
}	
p{
	margin-left: 30px;
}
.row{
	height: 124vh;
}
.col-md-3{
	height: 124vh;
}
.col-lg-3{
	width: 25%;
	background: lightgray;
}
button{
	margin-left: 10px;
}
#long{
	height: 16vh;
	width: 26%;
	background: gray;
}
.input input{
	width: 70%;
}
#last{
	height: 16vh;
	width: 60%;
} 
.fast img{
	margin-left: 20px;
	height: 16vh;
	width: 70%;
}
}