*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.row{
	height: 15vh;
	width: 100%;
	display: inline-flex;
	background: black;
}
.col-md-6{
	height: 15vh;
	width: 30%;
}
h1{
	margin-left: 30px;
	padding-top: 30px;
	color: #fff;
}
#long{
	height: 15vh;
	width: 70%;
}
.nav li{
	display: inline-flex;
	margin-left: 60px;
	margin-top: 5px;
	list-style: none;
}
.nav a{
	text-decoration: none;
	color: #fff;
}
.name{
	height: 8vh;
	margin-top: 20px;
	background: #FED000;

}
.name li{
	margin-top: 20px;
}
.name a{
	font-weight: bold;
}
#row{
	height: 20vh;
	width: 100%;
	display: inline-flex;
	background: #9e1A1A;
}
.col-lg-6{
	height: 20vh;
	width: 50%;
}
h2{
	margin-left: 60px;
	margin-top: 30px;
	color: #FFB404;
}
h2 span{
	font-size: 18px;
}
.top{
	border: 1px solid black;
	height: 12vh;
	width: 40%;
	margin-left: 40px;
	margin-top: 30px;
}
.top li{
	list-style: none;
	margin-top: 20px;
	margin-left: 10px;
}
.top a{
	text-decoration: none;
	color: #fff;
}
.top button{
	border-radius: 50%;
	background: black;
	color: #fff;
	border: none;
}
#row1{
	height: 65vh;
	width: 100%;
	display: inline-flex;
	background: black;
}
.col-md-3{
	height: 65vh;
	width: 25%;
}
.main{
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid #fff;
	height: 60vh;
	background: #fff;
}
.main img{
	height: 15vh;
	width: 100%;
}
h4{
	margin-left: 10px;
	color: red;
}
.main li{
	list-style: none;
	margin-left: 10px;
	margin-top: 10px;
}
.main a{
	text-decoration: none;
	color: black;
}






@media(max-width: 700px){
.row{
	height: 35vh;
	background: black;
}
.col-md-6{
	height: 35vh;
}
h1{
	font-size: 25px;
	margin-left: 5px;
}
.nav li{
	margin-left: 80px;
}
.name{
	height: 20vh;
	background: #FED000;
}
.name li{
	margin-left: 5px;
	margin-top: 15px;
}
.top{
	width: 70%;
}
.top input{
	width: 60%;
}
.col-md-3{
	height: 65vh;
	width: 25%;
}
h4{
	margin-left: 0px;
}
}